<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Seguridad</h1>
      <div class="p-5 border">
         <p> Agéndalo está comprometido a cuidar la seguridad de todos sus usuarios es por eso que te compartimos las medidas que Agéndalo esta tomando y al mismo tiempo, dejarte recomendaciones para que las transacciones seán seguras. </p> <br>

        <h4>Administración de contraseñas</h4>
        <p>Las contraseñas guardadas se manejan con suma seguridad dentro de nuestra base de datos, dando tranquilidad a los usuarios, además que estas pueden ser cambiadas cuando el usuario lo requiera.
        </p>

        <h4>Actualizaciones constantes</h4>
        <p>Agéndalo esta en constante evolución para traerte las mejores versiones de sí mismo, por lo que se harán mejoras en el funcionamiento.</p>

        <h4>Políticas y Términos y condiciones</h4>
        <p>Te recordamos que puedes leer las políticas de Agéndalo para mantenerte conciente de las medidas tomadas para hacer de Agéndalo un sitio confiable y honesto, mantente siempre atento.</p>

        <h4>Monitoreo constante</h4>
        <p>Agéndalo se encuentra al tanto de la actividad y coportamiento de los usuarios, de igual forma a las quejas y sugerencias de los mismos, recuerda que puedes contactarte con nosotros en el momento que desees.</p>
      </div>
    </div>
    <div class="col-md-12">
      <h1>Algunos Consejos</h1>
      <div class="p-5 border">
         <p>1. Siempre ponte en contacto directo con el 
          proveedor.</p>
          <p>2. Acuerda horarios fijos para tu servicio.</p>
          <p>3. No pagues ni deposites dinero antes del 
            servicio.</p>
          <p>4. Pide al proveedor que identifique correctamente a quien realizara el servicio. </p>
          <p>6. Si surge algún problema con el servicio, recuerda contactar a Agéndalo.</p>
          <p>7. Si el servicio no fue de tu agrado, puedes calificarlo como malo y si fue el caso contrario, puedes calificarlo como bueno, con lo que generas bonificaciones.</p>
          <p>8. Agéndalo garantiza la transparencia de las transacciones.</p>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg" routerLink="/landing">Regresar</button>
  </div>
</div>
