<div class="container">
  <h1 class="mt-3">¿Comó puedo ayudarte?</h1>
  <div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col">
      <div class="card">
        <img src="../../../../assets/comunicar.png" class="card-img-top" alt="contacto">
        <div class="card-body">
          <h5 class="card-title">Contáctanos</h5>
          <p class="card-text">Te invitamos a escribirnos a través de agendalo20@gmail.com si tienes dudas, de igual forma puedes escribir quejas y sugerencias, agéndalo estará pendiente de los correos enviados y contestará a la brevedad posible.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/mensaje-de-error.png" class="card-img-top" alt="error">
        <div class="card-body">
          <h5 class="card-title">Errores frecuentes</h5>
          <p class="card-text">Es posible que el sitio presente fallas técnicas, como errores de busqueda y páginas vacias, te invitamos a volver a cargar el sitio y si estas fallas continuan contactarnos. Si tu cuenta ha sido borrada, cancelada o en su defecto vetada, te recomendamos leer nuestras <a href="/politicas">políticas</a>  y los <a href="/politicas">términos y condiciones.</a></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/manual.png" class="card-img-top" alt="manual">
        <div class="card-body">
          <h5 class="card-title">Manual de usuarios</h5>
          <p class="card-text">¿Tienes sobre cómo funciona la página de Agéndalo? <br> 
            ¡Te invitamos a visitar el manual de usuario! Es una guía práctica y sencilla que muestra el funcionamiento de Agéndalo además de pasos descriptivos para ayudarte. De iagula manera puedes contactarnos para mayores informes.</p>
        </div>
      </div>
    </div>
  </div>
</div>
