<div class="container" style="margin-top: 15px; margin-bottom: 15px;">
  <h1>Debes Saber...</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card" style="align-items: center;">
        <img src=".././../../../assets/acuerdo.png" class="card-img-top" alt="..." style="height: 50vh; width: 50vh;">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">Políticas</h5>
          <p class="card-text">Esta política de privacidad describe cómo Agendalo, recopila, utiliza y comparte información personal cuando utilizas 
            nuestra aplicación de agenda. Al utilizar la aplicación,
             aceptas los términos de esta política de privacidad.</p>
             <p><a href="/terminos-politicas">Leer más</a></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="align-items: center;">
        <img src="../../../../assets/aceptado.png" class="card-img-top" alt="..." style="height: 50vh; width: 50vh;">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">Términos y condiciones</h5>
          <p class="card-text">Los términos y condiciones de Agéndalo estan disponibles en todo momento y pueden cambiar, por lo que te recomendamos leerlos constantemente, para garantizarte la seguridad de tus datos y saber cómo mantenemos segura tu infromación.</p>
          <p><a href="/terminos-politicas">Leer más</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
